<section id="facts" class="facts">
    <div class="container">

        <div class="section-title">
            <h2>Hobbies</h2>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                <div class="count-box">
                    <i class="bi bi-joystick"></i>
                    <p><strong>Videogames</strong> for the brain!</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="count-box">
                    <i class="bi bi-music-note-beamed"></i>
                    <p><strong>Play the drum</strong> for the body!</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="count-box">
                    <i class="bi bi-collection-play-fill"></i>
                    <p><strong>Movies</strong> for the mind!</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="count-box">
                    <i class="bi bi-emoji-sunglasses-fill"></i>
                    <p><strong>Party</strong> for the soul!</p>
                </div>
            </div>

        </div>

    </div>
</section>