<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="assets/img/profile.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="#hero">Tim Broos</a></h1>
            <div class="social-links mt-3 text-center">
                <a target="_blank" href="https://discordapp.com/users/148898245379096576" class="discord"><i class="bx bxl-discord"></i></a>
                <a target="_blank" href="https://github.com/Timmeahj" class="github"><i class="bx bxl-github"></i></a>
                <a href="tel:+32488121166" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
                <a href="mailto:broostim@hotmail.be" class="mail"><i class="bx bxl-gmail"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/tim-broos-827525116/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                <li><a href="#interests" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Job interests</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
            </ul>
        </nav>
    </div>
</header>