<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
            <p>Nice to meet you! My name is Tim Broos and I'm a 26 years old web developer located in Antwerp Belgium. If you're looking for junior front / back end or even full stack developers to add to your team, allow me to introduce myself!</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="assets/img/profile.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Web Developer</h3>
                <p class="fst-italic">
                    At least until chat GPT steals my job...
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>15 Octobre 1996</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span><a href="tel:+32488121166">+324 88 12 11 66</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Antwerp, Belgium</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>26</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:broostim@hotmail.be">broostim@hotmail.be</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Job preference:</strong> <span>Fullstack</span></li>
                        </ul>
                    </div>
                </div>
                <p>
                    I'm eager to find out everything there is to know about webdev / gamedev / crazy algorithms / web security and much more. Currently I am in the process of honing my skills, but I know I can do so much more with proper guidance! This is why I'm reaching out to everyone offering opportunities, and in exchange for your wisdom and experience, I will deliver the product you desire.
                </p>
            </div>
        </div>

    </div>
</section>