<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Are you looking for a Front End developer?</p>
            <p>How about a Back End developer?</p>
            <p>Maybe looking for a Full Stack developer?</p>
            <p>Perhaps you are looking for a web development trainer?</p><br>
            <p>Let's have a conversation, feel free to reach out!</p><br>
            <ul>
                <li>Phone: <a href="tel:+32488121166">+324 88 12 11 66</a></li>
                <li>Email: <a href="mailto:broostim@hotmail.be">broostim@hotmail.be</a></li>
            </ul>
        </div>
    </div>
</section>