<section id="interests" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Job interests</h2>
            <p>To live is to risk it all! I'm not afraid of any challenge coming my way, as I see it as an opportunity to grow and learn. I might be stronger on some fields than others, however I believe with correct alignment with my employer, I can tackle any task!</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"><i class="bi bi-layout-text-window-reverse"></i></div>
                <h4 class="title"><a href="">Front End</a></h4>
                <p class="description">This is the field where I have had the most exploration. Looking to get the best results out of me? Then put me on front end!</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-server"></i></div>
                <h4 class="title"><a href="">Back End</a></h4>
                <p class="description">Fascinated as I am with security, database architecture and deployment, I still have a lot to learn! Given the opportunity I will gratefully excel in the backend given some time and resources!</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bi bi-puzzle"></i></div>
                <h4 class="title"><a href="">CMS</a></h4>
                <p class="description">Although I need to be challenged, if any quick results are necessary I know my way around Drupal / Wordpress. As long as there's challenging material being thrown at me along the way, I'll be sure to make the CMS of your dreams!</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bi bi-journals"></i></div>
                <h4 class="title"><a href="">Teaching</a></h4>
                <p class="description">I love transmitting the skills I acquire in life to other people who can benefit from it. Do you have any interns / juniors that need taken care of? I'm your guy!</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bi bi-people"></i></div>
                <h4 class="title"><a href="">People</a></h4>
                <p class="description">Despite being a geeky programmer, I love engaging with people and working together. I love learning from people, I love to share my knowledge. An environment that supports this is where I flourish!</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <div class="icon"><i class="bi bi-tools"></i></div>
                <h4 class="title"><a href="">Creativity</a></h4>
                <p class="description">The best problems for me to solve are the ones I find the solution to in the shower. I love cracking my head on complex problems, solving them horribly, learning my lessons and tackle it again but better!</p>
            </div>
        </div>

    </div>
</section>