<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-algo">Algo</li>
                    <li data-filter=".filter-game">Game</li>
                    <li data-filter=".filter-art">Art</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-   delay="100">

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <a target="_blank" href="https://timmeahj.github.io/social-impact-hondenboot/index.html" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/hondenboot.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/social-impact-hondenboot/index.html" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/social-impact-hondenboot" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-algo">
                <a target="_blank" href="https://timmeahj.github.io/mazeMaker/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/maze.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/mazeMaker/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/mazeMaker" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-art">
                <a target="_blank" href="https://timmeahj.github.io/primes/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/primes.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/primes/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/primes" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-art">
                <a target="_blank" href="https://timmeahj.github.io/helix.js/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/helix.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/helix.js/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/helix.js" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-game">
                <a target="_blank" href="https://timmeahj.github.io/gameOfLife/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/gameOfLife.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/gameOfLife/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/gameOfLife" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-algo">
                <a target="_blank" href="https://timmeahj.github.io/lottery_simulation/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/lottery.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/lottery_simulation/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/lottery_simulation" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <a target="_blank" href="https://timmeahj.github.io/pokedex/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/pokedex.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/pokedex/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/pokedex" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-art">
                <a target="_blank" href="https://timmeahj.github.io/css-painting/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/finn.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/css-painting/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/css-painting" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-art">
                <a target="_blank" href="https://timmeahj.github.io/css-dexter/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/dexter.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/css-dexter/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/css-dexter" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-art">
                <a target="_blank" href="https://timmeahj.github.io/cos.js/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/wave.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/cos.js/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/cos.js" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <a target="_blank" href="https://timmeahj.github.io/weather_api/">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/weather.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/weather_api/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/weather_api" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-game">
                <a target="_blank" href="https://timmeahj.github.io/workshop_game/" >
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/game.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a target="_blank" href="https://timmeahj.github.io/workshop_game/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Live project"><i class="bx bxl-firefox"></i></a>
                        <a target="_blank" href="https://github.com/Timmeahj/workshop_game" title="Github repository"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>