<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Web Development Bootcamp</h4>
                    <h5>2019 - 2020</h5>
                    <p><em>Becode, Antwerp, Belgium</em></p>
                    <p>This is where I learned the more intricate applications of JS and PHP frameworks. Here I learned to follow some principles like the pillars of OOP, SOLID, the MVC pattern and much more.</p>
                </div>
                <div class="resume-item">
                    <h4>Various IT College courses</h4>
                    <h5>2015 - 2018</h5>
                    <p><em>Artesis Plantijn Hogeschool / Karel De Grote Hogeschool</em></p>
                    <p>I've always had a particular interest in programming and web development. In these courses I made the first contact with web development, however they were simply too many other subjects present that didn't interest me, so I didn't finish these courses.</p>
                </div>
                <div class="resume-item">
                    <h4>Sports-Science ASO</h4>
                    <h5>Graduated 2014</h5>
                    <p><em>Koninklijk Atheneum Mortsel</em></p>
                    <p>Although this has fairly little to do with web development, this is where I learned a lot about mathematics, physics and other less relevant sciences to our field. In my algorithms I still employ the knowledge I gathered here.</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Coach Web Development</h4>
                    <h5>2020 - Present</h5>
                    <p><em>Becode, Antwerp, Belgium </em></p>
                    <ul>
                        <li>2020 - 2021, assisting coach of 2 groups of around 20+ students.</li>
                        <li>2021 - Present, lead coach of my own group of around 20+ students.</li>
                        <li>Trained 80+ students</li>
                        <li>Positive exit rate of my classes: over 80%</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Internship Web development Consultancy</h4>
                    <h5>2016 - 2017</h5>
                    <p><em>Pau, Antwerp, Belgium</em></p>
                    <ul>
                        <li>Maintenance of various Drupal websites</li>
                        <li>Designing marketing campaigns using the Adobe package (Illustrator / Photoshop / Indesign)</li>
                        <li>Rebranding of some local small businesses</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>